*.swp
vim/vim/spell/
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
vim/vim/.netrwhist
.config/tmux/plugins/
.config/fish/functions/tide/*
.config/fish/functions/_*
.config/fish/fish_variables
.config/task/taskrc
.config/dlv/.dbg_history
.aider*
.config/fish/fishd.tmp
*.expert

bin/*vatten*
bin/generate-execute
bin/apicheck
bin/cfn-checklist
bin/clean-go
bin/cnv
bin/convert-swu-cards
bin/counter
bin/create-training-tasks
bin/crncycnv
bin/demo-cli
bin/expert
bin/expert_darwin_arm64
bin/gimmi-token
bin/gotestall
bin/list-lambdas
bin/logsf
bin/run-tf-all-stacks
bin/task-upload
bin/test-slog.py
bin/test-vf-csv
bin/todo
bin/war_roller

